.game-main{
    height: 500px;
    display: flex;

    background: var(--primary-color);
}
.font{
    color: transparent;
    padding: 25px;
     background: #216fc8;
     -webkit-background-clip: text;
    font-size: 40px;
  }
  .contact-social a{
    cursor: pointer;
    width: 100px;
    height: 70px;
  }
  .contact-social a:hover .font{
    background:linear-gradient(55deg,#216fc8, #9064e6);
    -webkit-background-clip: text;
    transform: scale(1.3);
    transition: .5s;
}
.contact-social{
    
    width: 350px;
   
    padding: 0px;
    /* box-shadow: 9px 9px 40px  -5px #7667b7; */
    border-radius: 10px;
}

.soc-main{
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
    padding: 0;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    
   
    
}
hr{
    background:linear-gradient(to right, #2739b6, #9064e6);
}
div button{
    width:200px;
    height: 45px;
    background:linear-gradient(to right, #2739b6, #9064e6);;
    outline: none;
    
    border:none;
    cursor:pointer;
    border-radius:40px;
    font-weight: 600;
    font-size: 18px;
    color:#fff;
    margin-top: 20px;
    transition: 0.5s;
}
.playbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ----load----------- */
.load{
    width: 200px;
    height: 200px;
}
.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
}
@media (max-width:500px){
    .game-main{
        display: flex;
        flex-direction: column;
        align-items:center;
        height: 20vh;
    justify-content: center;
    }
    .game-main img{
        width: 300px;
        height: 300px;
    }
    }