.char{
    width:700px;
    height:700px;
    float: right;
    margin-top: 10px;
    margin-right: 100px;
    background-position: right;
    z-index:-1;
}
.photo{
   top: 20px;
    float: right;
   right: 0;
  
    height: 100vh;
    position: relative;
}
.photo .m2{
    display: none;
}
.home{
   background:var(--primary-color);
    width:100%;
    height:95vh;
}
.header-text{
    bottom: 60px;
    position: absolute;
    margin-left: 5%;
    margin-top: 0px;
    font-size: 90px;
   
 }

 .header-text h1{
   text-shadow:0 0 10px #04009A;
    font-size: 50px;
    color: #fff;
    margin-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 } 
 .header-text span{
    margin-left: 0px;
    font-size: 90px;
    padding-left: 50px;
    color: #0e3742;
    text-transform: uppercase;
    /* color:#6704a8; */
    letter-spacing: 10px;
    outline: none;
    animation: animate 5s linear infinite;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 }
 .cv{
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 12px;
   height: 60px;
   width: 150px;
   /* border: 1px solid #fff; */
   font-weight: 500;
   border-radius:5px;
   color: #fff;
   background:linear-gradient(225deg,#2739b6,#216fc8,#255dc4,#255dc4,#2739b6);
   margin: 20px;
 }
 .cv:hover{
   color: #216fc8;
   transition: 0.5s;
   background: transparent;
   border:3px solid#255dc4 ;
   border-radius: 10px;
   outline: none;
   font-weight: 500;
   box-shadow: 2px 2px 5px #255dc4 ;
 }
 @keyframes animate
 {
   0%,18%,20%,50%,65%,80%,90%{
      color:#333;
      text-shadow: none;
   }
   18%,20%,50%,65%,80%,90%,100%{
      color:#fff;
      text-shadow:0 0 10px #04009A,
      0 0 20px #04009A,
      0 0 40px #04009A,
      0 0 60px #04009A
      ;
      
   }
 }
 .it{
   display: none;
 }
 @media (max-width: 500px){
   
    .header-text{
      
      bottom: 2%;
       margin-left: 3%;
       padding: 20px;
       padding-left: 5px;
       margin-top: 100%;
       font-size: 20px;
       text-align: left;
    }
    .header-text h1{
       font-size: 40px;
       padding-left: 5px;
    }
    .photo{
      top: 20px;
       float: left;
      right: 0;
       height: 50vh;
       position: relative;
   }
   .spline-tool{
      display: none;
   }
    .header-text span{
      font-size: 50px;
      padding-left: 35px;   
   }
   .photo .m2{
      height: 60vh;
      max-width: 100%;
      width: auto;
      background-size: cover;
      /* background-position: ; */
      display: block;
  }
  .photo .char{
   display: none;
}
.cv{
   position: relative;
   width: 100px;
    height: 50px;
    font-size: 12px;
    padding: 4px;
   margin-top: 35px;
   bottom:10%;
   left: 20%;
}
.spline-tool{
 width: 600px;
 height: 100vh;
}
.it{
   display: block;
 
    height: 540px;
    width: 458px;
    left: 0;
}
    /* .icons{
       display:block;
       font-size: 25px;
    }
    nav ul{
       background: #6704a8;
       position: fixed;
       top: 0;
       right: -200px;
       width: 200px;
       height: 100vh;
       padding-top: 50px;
       z-index: 2;
       transition:right 0.5s;
    }
    nav ul li{
       padding: 20px;
       display: block;
       margin: 25px;
    }
    nav ul li a{
       font-size: 25px;
    }
    nav ul .icons{
       position: absolute;
       top: 25px;
       left: 30px;
       cursor: pointer;
    }
    nav .icons{
       position: absolute;
       top: 70px;
       left:400px;
       cursor: pointer;
    }
    .logo{
       width:250px;
       margin-left: 15px;
      }
    .container{
       padding: 15px;
      }
    .header-text span{
       font-size: 50px;
       padding-left: 35px;   
    } */
    
    }
    @media (max-width: 375px){
      *{
         width: 100%;
      }
      .header-text span{
         font-size: 30px;
       }
    }
    @media (max-width:450px)
    {
      .it{
         display: block;
       
          height: 540px;
          width: 435px;
          left: 0;
      }
    }
    @media (max-width: 420px){
      .header-text span{
        font-size: 38px;
      }
      .it {
         width: 410px;
      }
      .card-list{
         margin: 0;
      }
    }
    @media (max-width: 420px){
      .it {
         width: 390px;
      }

    }